
<main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
  
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl">
              <span class="block text-white">Kandidaten eerst zien werken </span>
              <span class="block text-amber-500">en dan aanwerven.</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-white sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">Werven is complex, tijdrovend en riskant.<br>Haal de stress weg bij het vinden van de beste kandidaten met een grondige analyse die nauwkeurig, geautomatiseerd en onbevooroordeeld is. <br>Maak het aannemen van personeel een weloverwogen keuze.</p>
          <div class="mt-8 sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0">
              <button type="submit" class=" w-full px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-amber-500 shadow-sm hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto">Start nu</button>
          </div>
        </div>
        <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">

          <div class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md">
            <button type="button" class="relative block w-full rounded-lg overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="sr-only">Watch our video to learn more</span>
              <img class="w-full" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
              <span class="absolute inset-0 w-full h-full flex items-center justify-center" aria-hidden="true">
                <svg class="h-20 w-20 text-indigo-500" fill="orange" viewBox="0 0 84 84">
                  <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                  <path d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
  
  </main>
  
  
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase"></h2>
      <p class="mt-1 text-4xl font-extrabold text-amber-500 sm:text-5xl sm:tracking-tight lg:text-6xl">Klanttevredenheid: 75%</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-white">Meribas helpt je het beste talent van waar ook ter wereld te identificeren, met een naadloze ervaring waar kandidaten en wervingsteams bij elke stap dol op zijn.</p>
    </div>
  </div>
</div>

  
  
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class=" overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <svg class="absolute top-0 left-full transform -translate-x-1/2 -translate-y-3/4 lg:left-auto lg:right-full lg:translate-x-2/3 lg:translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="8b1b5f72-e944-4457-af67-0c6d15a99f38" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="orange" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#8b1b5f72-e944-4457-af67-0c6d15a99f38)" />
    </svg>

    <div class="relative lg:grid lg:grid-cols-3 lg:gap-x-8">
      <div class="lg:col-span-1">
        <h2 class="text-5xl font-extrabold tracking-tight text-white sm:text-7xl">Rekruteer de beste, altijd en overal.</h2>
      </div>
      <dl class="mt-10 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 lg:mt-0 lg:col-span-2">
        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-amber-500 text-white">
              <!-- Heroicon name: outline/globe-alt -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-bold text-amber-500">Identificeer het beste talent 3 keer sneller</p>
          </dt>
          <dd class="mt-2 text-base text-white">Met Meribas optimaliseert u uw eerste screeningproces met meer dan 75%. Maak kostbare tijd vrij voor zowel wervingsmanagers als het talentacquisitieteam. Uit ons onderzoek blijkt dat organisaties een reductie van 82% in de tijd om in dienst te nemen hebben opgemerkt.</dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-amber-500 text-white">
              <!-- Heroicon name: outline/scale -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-bold text-amber-500">Ontworpen voor een hoge conversiepercentage</p>
          </dt>
          <dd class="mt-2 text-base text-white">Onze tests zijn stressarm, adaptief en nemen slechts 30 minuten in beslag. Dit is de reden waarom meer dan 80% van de sollicitanten de test voltooit, wat 2-3x beter is dan typische beoordelingen. Testlify is de meest kandidaatvriendelijke beoordelingstool</dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-amber-500 text-white">
              <!-- Heroicon name: outline/lightning-bolt -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-bold text-amber-500">Bouw een divers team</p>
          </dt>
          <dd class="mt-2 text-base text-white">Zeg vaarwel tegen onbewuste vooroordelen. Geef alle sollicitanten een gelijke, onbevooroordeelde kans om hun talent te laten zien. Onze beoordeling verwijdert onbewuste vooroordelen uit uw screeningproces en vindt verborgen juweeltjes van ondervertegenwoordigde achtergronden.</dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-amber-500 text-white">
              <!-- Heroicon name: outline/mail -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
              </svg>
            </div>
            <p class="mt-5 text-lg leading-6 font-bold text-amber-500">Vaardigheden op het werk testen</p>
          </dt>
          <dd class="mt-2 text-base text-white">Test kandidaten op praktische vaardigheden via strikvragen en vind de meest gekwalificeerde kandidaten. Probeer onze bibliotheek met vragen die zijn ontworpen om te testen op fit in plaats van algoritmen uit het hoofd te leren. Maak een rolspecifieke beoordeling om uw sollicitanten te testen.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-green-800">
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">Hoe werkt Meribas?</h1>
    <p class="mt-6 text-xl text-indigo-100">De unieke AI-aangedreven beoordelingstechnologie van Meribas is een bewezen oplossing tegen een hoog personeelsverloop. Weg met de handmatige taken in je wervingsproces en automatiseer moeizame processen van 'Solliciteren' naar 'Aanwerven'. Een leuk, boeiend en snel beoordelingsproces zorgt voor minimale uitval tijdens uw wervingsproces. Ervaar ongekende controle over uw wervingsfunnel door middel van diepgaande business intelligence.</p>
  </div>
</div>

<div class=" overflow-hidden mb-20">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">

    <div class="relative">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                          <h3 class="text-2xl font-extrabold text-amber-500 tracking-tight sm:text-3xl">Maak beoordelingen van hoge kwaliteit</h3>
              </dt>
              <dd class="mt-2 ml-16 text-base text-white">Kies de perfecte beoordelingsnaam
Selecteer de tests die het meest geschikt zijn voor de rol die u aanneemt
Word persoonlijk met uw eigen aangepaste vragen</dd>
            </div>

            <div class="relative">
              <dt>
              <dt>
              <h3 class="text-2xl font-extrabold text-amber-500 tracking-tight sm:text-3xl">Nodig kandidaten op jouw manier uit</h3>
              </dt>
              <dd class="mt-2 ml-16 text-base text-white">Stuur je sollicitant een gepersonaliseerde uitnodiging
Upload al je sollicitanten in bulk
Integreer uw bestaande sollicitantenvolgsysteem (ATS)</dd>
            </div>

            <div class="relative">
              <dt>
              <h3 class="text-2xl font-extrabold text-amber-500 tracking-tight sm:text-3xl">Analyseer en beslis over de beste kandidaten</h3>
              </dt>
              <dd class="mt-2 ml-16 text-base text-white">Realtime beoordelingsresultaten
Vergelijk uw kandidaten direct
Ga de diepte in met een kandidatenbeoordeling</dd>
            </div>
          </dl>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
            <defs>
              <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
          </svg>
          <img class="relative mx-auto" width="490" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1657321978/Stephanie_Sanders_lil6sx.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>




<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative pt-16 pb-32 overflow-hidden">
  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-5xl font-extrabold tracking-tight text-white">Niet meer gokken</h2>
            <p class="mt-4 text-lg text-white">Een van de grootste uitdagingen bij het werven van technisch personeel is om vast te stellen of ze over het juiste niveau van vaardigheden voor de baan beschikken.

Met ons uitgebreide testraamwerk nemen we het giswerk uit rekrutering weg.

Wij helpen u het vaardigheidsniveau van elke kandidaat nauwkeurig te beoordelen.</p>
            <div class="mt-6">
              <a href="#" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-amber-500 hover:bg-amber-600"> Meer info</a>
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-sm text-white">&ldquo;Met Meribas konden we ons eerste screeningsproces met meer dan 75% optimaliseren. We hebben enorm veel tijd bespaard voor ons wervings- en managementteam. Vroeger waren we veel tijd (en geld) aan het verspillen door met alle kandidaten te praten.&rdquo;</p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="text-sm font-medium text-amber-500">Marie Hillens, HR Manager</div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1657323309/Ontwerp_zonder_titel_xshace.png" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-5xl font-extrabold tracking-tight text-white">Krijg diepere inzichten</h2>
            <p class="mt-4 text-lg text-white">Het vinden van de juiste mensen gaat niet alleen over technische vaardigheden.

Ons uitgebreide testmodel onthult diepere psychologische, culturele en technische inzichten over elke sollicitant.

Wij geven u de inzichten om met vertrouwen de juiste mensen aan te nemen.</p>
            <div class="mt-6">
              <a href="#" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-amber-500 hover:bg-amber-600"> Meer info </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full  lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1657323676/Ontwerp_zonder_titel-2_tpxlfr.png" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class=" pt-12 sm:pt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-5xl font-extrabold text-amber-500 sm:text-5xl">Resultaten</h2>
      <p class="mt-3 text-xl text-white sm:mt-4">Meribas voorspelt werkprestaties met behulp van vaardigheidsbeoordelingen die het talent van elke kandidaat laten zien.</p>
    </div>
  </div>
  <div class="mt-10 pb-12 sm:pb-16">
    <div class="relative">
      <div class="absolute inset-0 h-1/2"></div>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
            <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">Efficiënt werven</dt>
              <dd class="order-1 text-5xl font-extrabold text-green-800">5X</dd>
            </div>
            <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">Tevreden kandidaten</dt>
              <dd class="order-1 text-5xl font-extrabold text-green-800">92%</dd>
            </div>
            <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">Wervingstijd</dt>
              <dd class="order-1 text-5xl font-extrabold text-green-800">-46%</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-amber-500">
  <div class="max-w-7xl mx-auto py-12 px-4 divide-y divide-gray-200 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-5xl font-extrabold text-white">Veelgestelde vragen</h2>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is Meribas?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas is het talentbeoordelingsplatform waarmee bedrijven snel, gemakkelijk, nauwkeurig en, ja, betaalbaar het beste talent kunnen aannemen. Werven op grote schaal is complex, tijdrovend en riskant, en we nemen de stress weg bij het vinden van de beste kandidaten met een diepgaande analyse die nauwkeurig, geautomatiseerd en onbevooroordeeld is.</p>
          </dd>
        </div>

                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is assessment software?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Pre-employment testsoftware is een krachtig hulpmiddel dat recruiters kunnen gebruiken om potentiële werknemers snel en efficiënt te analyseren. Meribas tests zijn zorgvuldig samengesteld met de specifieke bedoeling om aan uw behoeften te voldoen, zodat u precies krijgt wat u nodig heeft!

Onze 200+ testbibliotheken dekken alle wervingstests, dus we hebben unieke tests voor u, ongeacht de vereisten van uw bedrijf.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Waarom is assessment software belangrijk?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Pre-employment testen is een belangrijk onderdeel van het selectieproces van medewerkers. Het helpt bedrijven kandidaten met relevante vaardigheden te vinden, waardoor tijd en geld wordt bespaard op opleidingskosten en de productiviteit wordt verhoogd. Bij Meribas pleiten we voor het gebruik van pre-employment testsoftware, voornamelijk voor:

Vaardigheden op het werk testen
3x sneller het beste talent identificeren
Opbouwen van een diverse pool van kandidaten
Opkomen voor een datagestuurde HR-cultuur</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Hoe helpt Meribas mijn rekrutering?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas AI-aangedreven pre-hire assessments helpen bedrijven de vaardigheden en geschiktheid van een kandidaat te meten. Deze tests zorgen voor een snelle screening van kandidaten, elimineren vooroordelen bij het inhuren, waardoor de productiviteit van recruiters en personeelsmanagers wordt verhoogd. Onze unieke beoordelingstechnologie is een bewezen oplossing tegen een hoog personeelsverloop.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Van waar komen de testen?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas pre-employment tests worden gemaakt door materiedeskundigen (we noemen ze MKB). De test voor elke functie is toegewezen aan een competentiematrix, die helpt om in kaart te brengen welke vaardigheden en kennis nodig zijn om de verantwoordelijkheden van die specifieke functie uit te voeren voordat u solliciteert.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat voor type vragen worden er gesteld in de testen?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">De vragen zijn afhankelijk van de branche en de functie voor een specifieke online beoordeling. Dit kunnen MCQ's (meerkeuzevragen), videovragen, open vragen (schriftelijke antwoorden of korte antwoorden) zijn. We zullen binnenkort programmeervragen toevoegen (voor coderingstests).</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Welke type testen zijn er in Meribas?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Tests op het platform zijn van 3 hoofdtypen, toegewezen aan specifieke vaardigheden en functies.

Technische tests (programmering, software, rolspecifieke vaardigheden, DevOps, financiën, boekhouding)
Cognitieve vaardigheidstesten (geschiktheid)
Persoonlijkheid en cultuur en situationele beoordelingstests</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is het verschil tussen Meribas en andere Assessment softwares?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas is het beste platform voor talentbeoordeling. Wij geloven dat we alle sollicitanten een gelijke, onbevooroordeelde kans moeten bieden om hun talent te laten zien.

Onze beoordeling verwijdert onbewuste vooroordelen uit uw screeningproces en vindt verborgen juweeltjes van ondervertegenwoordigde achtergronden.
We geven prioriteit aan vaardigheden op het werk boven strikvragen om de meest gekwalificeerde kandidaten te vinden.
Vragen die niet te googlen zijn
Geavanceerde controle
Video-antwoordvragen (om een 360-graden beeld van kandidaten te hebben)
Adaptieve tests met weinig stress, die slechts 30 minuten in beslag nemen.
Een leuk, boeiend en snel beoordelingsproces dat zorgt voor minimale uitval tijdens uw wervingsproces.</p>
          </dd>
        </div>
        
      </dl>
    </div>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-base font-extrabold text-white sm:text-base">
      <span class="block text-amber-500">VIND TOPKANDIDATEN</span>
      <span class="block text-5xl">Datagedreven HR</span>
    </h2>
    <a href="#" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-amber-500 hover:bg-amber-600 sm:w-auto"> Start nu </a>
  </div>
</div>


<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<footer class="" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Meribas</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-bold text-white tracking-wider uppercase">Oplossing</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Product </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Prijs </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Waarom Meribas </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Cognitief </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-bold text-white tracking-wider uppercase">Over ons</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Over ons </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Voor investeerders </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Blog </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-bold text-white tracking-wider uppercase">Legal</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Privacy </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Algemene voorwaarden </a>
              </li>

              <li>
                <a href="#" class="text-base text-white hover:text-amber-500"> Garantie </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-8 xl:mt-0">
        <h3 class="text-5xl font-bold text-amber-500 tracking-wider uppercase">Geef kandidaten een geweldige ervaring.</h3>

      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">

        <a href="#" class="text-white hover:text-amber-500">
          <span class="">Instagram</span>

        </a>


        <a href="#" class="text-white hover:text-amber-500">
          <span class="">LinkedIn</span>

        </a>

      </div>
      <p class="mt-8 text-base text-white md:mt-0 md:order-1">&copy; 2022 Meribas, All rechten voorbehouden.</p>
    </div>
  </div>
</footer>
