<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="pb-16 xl:flex xl:items-center xl:justify-between">
      <div>
        <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
          <span class="text-gray-900">Everything you need for </span>
          <span class="text-indigo-600">$99 a month</span>
        </h1>
        <p class="mt-5 text-xl text-gray-500">Includes every feature we offer plus unlimited projects and unlimited users.</p>
      </div>
      <a href="#" class="mt-8 w-full bg-indigo-600 border border-transparent px-5 py-3 inline-flex items-center justify-center text-base font-medium rounded-md text-white hover:bg-indigo-700 sm:mt-10 sm:w-auto xl:mt-0">Get started today</a>
    </div>
    <div class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
      <div>
        <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Everything you need</h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900">All-in-one platform</p>
        <p class="mt-4 text-lg text-gray-500">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec. Urna, sed a lectus elementum blandit et.</p>
      </div>
      <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="py-4 flex md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Vitae in pulvinar odio id utobortis in inter.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Sed sed id viverra viverra augue eget massa.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Urna, gravida amet, a, integer venenatis.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Lobortis sed pharetra amet vitae eleifend.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Ullamcorper blandit a consequat donec elit aoreet.</span>
          </li>
        </ul>
        <ul role="list" class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
          <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Dolor quo assumenda.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Esse rerum distinctio maiores maiores.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Eos enim officiis ratione.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Tempore molestiae aliquid excepturi.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Perspiciatis eveniet inventore eum et aliquam.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white py-20 sm:py-24 lg:py-25">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base font-semibold uppercase tracking-wider text-indigo-600">Deploy faster</h2>
    <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Everything you need to deploy your app</p>
    <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">Phasellus lorem quam molestie id quisque diam aenean nulla in. Accumsan in quis quis nunc, ullamcorper malesuada. Eleifend condimentum id viverra nulla.</p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Push to Deploy</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/lock-closed -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">SSL Certificates</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/refresh -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Simple Queues</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/shield-check -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Advanced Security</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/cog -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Powerful API</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                  <!-- Heroicon name: outline/server -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Database Backups</h3>
              <p class="mt-5 text-base text-gray-500">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-indigo-700">
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">Boost your productivity.</span>
      <span class="block">Start using Workflow today.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-indigo-200">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
    <a href="#" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 sm:w-auto"> Sign up for free </a>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-white">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">A better way to send money.</h2>
    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Competitive exchange rates</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/scale -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">No hidden fees</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/lightning-bolt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Transfers are instant</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
      </div>
    </dl>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">Boost your productivity.</span>
      <span class="block">Start using Workflow today.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-indigo-200">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
    <a href="#" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 sm:w-auto"> Sign up for free </a>
  </div>
</div>


<div class="bg-amber-500">
  <div class="max-w-7xl mx-auto py-12 px-4 divide-y divide-gray-200 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-5xl font-extrabold text-white">Veelgestelde vragen</h2>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is Meribas?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas is het talentbeoordelingsplatform waarmee bedrijven snel, gemakkelijk, nauwkeurig en, ja, betaalbaar het beste talent kunnen aannemen. Werven op grote schaal is complex, tijdrovend en riskant, en we nemen de stress weg bij het vinden van de beste kandidaten met een diepgaande analyse die nauwkeurig, geautomatiseerd en onbevooroordeeld is.</p>
          </dd>
        </div>

                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is assessment software?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Pre-employment testsoftware is een krachtig hulpmiddel dat recruiters kunnen gebruiken om potentiële werknemers snel en efficiënt te analyseren. Meribas tests zijn zorgvuldig samengesteld met de specifieke bedoeling om aan uw behoeften te voldoen, zodat u precies krijgt wat u nodig heeft!

Onze 200+ testbibliotheken dekken alle wervingstests, dus we hebben unieke tests voor u, ongeacht de vereisten van uw bedrijf.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Waarom is assessment software belangrijk?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Pre-employment testen is een belangrijk onderdeel van het selectieproces van medewerkers. Het helpt bedrijven kandidaten met relevante vaardigheden te vinden, waardoor tijd en geld wordt bespaard op opleidingskosten en de productiviteit wordt verhoogd. Bij Meribas pleiten we voor het gebruik van pre-employment testsoftware, voornamelijk voor:

Vaardigheden op het werk testen
3x sneller het beste talent identificeren
Opbouwen van een diverse pool van kandidaten
Opkomen voor een datagestuurde HR-cultuur</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Hoe helpt Meribas mijn rekrutering?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas AI-aangedreven pre-hire assessments helpen bedrijven de vaardigheden en geschiktheid van een kandidaat te meten. Deze tests zorgen voor een snelle screening van kandidaten, elimineren vooroordelen bij het inhuren, waardoor de productiviteit van recruiters en personeelsmanagers wordt verhoogd. Onze unieke beoordelingstechnologie is een bewezen oplossing tegen een hoog personeelsverloop.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Van waar komen de testen?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas pre-employment tests worden gemaakt door materiedeskundigen (we noemen ze MKB). De test voor elke functie is toegewezen aan een competentiematrix, die helpt om in kaart te brengen welke vaardigheden en kennis nodig zijn om de verantwoordelijkheden van die specifieke functie uit te voeren voordat u solliciteert.</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat voor type vragen worden er gesteld in de testen?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">De vragen zijn afhankelijk van de branche en de functie voor een specifieke online beoordeling. Dit kunnen MCQ's (meerkeuzevragen), videovragen, open vragen (schriftelijke antwoorden of korte antwoorden) zijn. We zullen binnenkort programmeervragen toevoegen (voor coderingstests).</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Welke type testen zijn er in Meribas?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Tests op het platform zijn van 3 hoofdtypen, toegewezen aan specifieke vaardigheden en functies.

Technische tests (programmering, software, rolspecifieke vaardigheden, DevOps, financiën, boekhouding)
Cognitieve vaardigheidstesten (geschiktheid)
Persoonlijkheid en cultuur en situationele beoordelingstests</p>
          </dd>
        </div>
        
                <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-xl font-bold text-green-800 md:col-span-5">Wat is het verschil tussen Meribas en andere Assessment softwares?</dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-white">Meribas is het beste platform voor talentbeoordeling. Wij geloven dat we alle sollicitanten een gelijke, onbevooroordeelde kans moeten bieden om hun talent te laten zien.

Onze beoordeling verwijdert onbewuste vooroordelen uit uw screeningproces en vindt verborgen juweeltjes van ondervertegenwoordigde achtergronden.
We geven prioriteit aan vaardigheden op het werk boven strikvragen om de meest gekwalificeerde kandidaten te vinden.
Vragen die niet te googlen zijn
Geavanceerde controle
Video-antwoordvragen (om een 360-graden beeld van kandidaten te hebben)
Adaptieve tests met weinig stress, die slechts 30 minuten in beslag nemen.
Een leuk, boeiend en snel beoordelingsproces dat zorgt voor minimale uitval tijdens uw wervingsproces.</p>
          </dd>
        </div>
        
      </dl>
    </div>
  </div>
</div>
