<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-base font-semibold text-amber-500 tracking-wide uppercase">Product</h2>
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Transformeer de manier waarop u rekruteert.</p>
        <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Tools om u te helpen bij het nemen van wervingsbeslissingen op basis van verdienste, niet op achtergrond.</p>
      </div>

      <div class="relative overflow-hidden">
                <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
                  <div class="mt-12 sm:-mb-24 lg:-mb-80">
                    <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="https://tailwindui.com/img/component-images/top-nav-with-multi-column-layout-screenshot.jpg" alt="">
                  </div>
                </div>
      </div>
  </div>
  <div class="relative bg-white py-10 sm:py-24 lg:py-30">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
     <div class="mt-12">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->1
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Eenvoudige testen</h3>
                <p class="mt-5 text-base text-gray-500">Beoordelingen ontwerpen was nog nooit zo eenvoudig. Ons eenvoudige stapsgewijze proces helpt je om moeiteloos beoordelingen te maken voor elke functie die je nodig hebt.</p>
              </div>
            </div>
          </div>
  
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->2
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Een test-bibliotheek</h3>
                <p class="mt-5 text-base text-gray-500">Meribas toont u automatisch relevante tests die u voor elke rol kunt toevoegen, inclusief programmering, software, persoonlijkheid en cultuur, cognitieve vaardigheden, taal, situationeel oordeel, aanleg en rolspecifieke vaardigheden.</p>
              </div>
            </div>
          </div>
          
                    <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->3
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Pas zelf aan</h3>
                <p class="mt-5 text-base text-gray-500">Wilt u testen voor een unieke vaardigheden of voor zeer gespecialiseerde ervaring? Geen stress!
Voeg eenvoudig uw aangepaste vragen toe als dat nodig is, en u kunt beginnen!.</p>
              </div>
            </div>
          </div>
          
                    <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->4
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Nodig kandidaten uit</h3>
                <p class="mt-5 text-base text-gray-500">Once your Assessment is completed, you are ready to start your testing process. Immediately send out invitations to candidates, and start the first round of assessments to find the best talent.</p>
              </div>
            </div>
          </div>
          
                    <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->5
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Realtime resultaten volgen</h3>
                <p class="mt-5 text-base text-gray-500">Bekijk de resultaten van uw kandidaten in realtime terwijl ze elke test voltooien. Geen wachten op eindresultaten, zien welke kandidaten het goed doen of die hun test hebben opgegeven.</p>
              </div>
            </div>
          </div>
  
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->6
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Krachtige analysetools</h3>
                <p class="mt-5 text-base text-gray-500">Vergelijk de resultaten van alle kandidaten in een eenvoudig overzichtelijk dashboard. Bekijk de algemene resultaten of duik dieper in een specifieke kandidaat voor een meer gedetailleerde analyse.</p>
              </div>
            </div>
          </div>
  
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->7
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Teamcommunicatie verbeteren</h3>
                <p class="mt-5 text-base text-gray-500">Geen eindeloze heen en weer communicatie met teamleden meer. Nodig onbeperkt teamleden uit. Deel eenvoudig de resultaten van kandidaten met uw team en blijf op dezelfde lijn.</p>
              </div>
            </div>
          </div>
  
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->8
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Interview eindkandidaten</h3>
                <p class="mt-5 text-base text-gray-500">Nu u weet wie de beste kandidaten zijn, kunt u zich richten op diepte-interviews voor uw laatste beoordelingsronde. De tijd die je hebt bespaard kun je nu besteden aan de kandidaten die tellen!</p>
              </div>
            </div>
          </div>
  
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center rounded-md bg-amber-500 p-3 shadow-lg text-white">
                    <!-- Heroicon name: outline/lock-closed -->9
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Maak uw keuze</h3>
                <p class="mt-5 text-base text-gray-500">Het was nog nooit zo eenvoudig om weloverwogen wervingsbeslissingen op grote schaal te nemen. Met het robuuste testplatform van Meribas leveren we de informatie die u nodig heeft, snel en nauwkeurig voor minder geld. Klaar voor een stressvrije rekruteringservaring?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-amber-500">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl">
      <span class="block text-white">Klaar om te starten?</span>
      <span class="block text-green-800">Start vandaag.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-800 hover:bg-green-900"> Start nu </a>
      </div>
    </div>
  </div>
</div>
