<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-amber-500 tracking-wide uppercase">Waarom Meribas</h2>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Identificeer het beste talent met geautomatiseerde testen.</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">CV's kunnen liegen, maar onze talent assessments niet!
Zeg vaarwel tegen traditionele cv's en welkom in het nieuwe tijdperk van rekrutering...
Meribas is een platform voor talentbeoordeling waarmee u de technische vaardigheden en bekwaamheden van sollicitanten kunt evalueren, zodat u een shortlist van de meest capabele kandidaten kunt maken.</p>
    </div>
  </div>
</div>